.evenColontitul {
  background: #ccc;
  height: 30px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #000;
}

.numPage,
.ver,
.cor,
.qr {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.numPage {
  border-right: 1px solid #000;
}
